<html>
<head>
<title>Tic Tac Toe</title>
<link rel="stylesheet" href="/static/default.css" type="text/css" />
<script type="text/javascript" src="/static/tictactoe.js"></script>
</head>
<body>
<h1>Tic Tac Toe</h1>
<p>
Press the button select a square.
</p>
<table style="text-align: left; width: 100px;" border="1"
cellpadding="2" cellspacing="2">
<form Target="_self" EncType="application/x-www-form-urlencoded"
Method="GET" Action="{{gameurl}}" Name="Select">

<tbody>
<tr>
<td>
x
</td>
<td>
o
</td>
<td>
<button value="" name="cell">O?</button>
</td>
</tr>
<tr>
<td style="vertical-align: top;">
x
</td>
<td style="vertical-align: top;">
x
</td>
<td style="vertical-align: top;">
x
</td>
</tr>
<tr>
<td style="vertical-align: top;">
x
</td>
<td style="vertical-align: top;">
x
</td>
<td style="vertical-align: top;">
x
</td>
</tr>
</tbody>
</table>
</form>
</body>
</html>

